<head>
<script src="//use.edgefonts.net/lobster;leckerli-one.js"></script>
</head>
<body>
<h1>Sweetheart Generator</h1>
<p>A great tool for significant others and developers alike.</p>
<form>
<p>Number of paragraphs: <input type="text" name="numpar"></p>

<%= link_to "Click to generate <3", get_ipsum_path, :id => "ipsumButton" %>
</form>
<div id="ipsumContainer"></div>
</body>
