<head>
<script src="//use.edgefonts.net/lobster;leckerli-one.js"></script>
</head>

<h1>Sweetheart Generator</h1>

<%= link_to "Click to generate <3", get_ipsum_path, :id => "ipsumButton" %>
<div id="ipsumContainer"></div>
