<head>
<script src="//use.edgefonts.net/lobster;leckerli-one.js"></script>
<link href='http://fonts.googleapis.com/css?family=Sunshiney' rel='stylesheet' type='text/css'>
<head>
<body>
<h1>Sweetheart Generator</h1>
<p>A great tool for significant others and developers alike.</p>
<%= link_to "Click to generate <3", get_ipsum_path, :id => "ipsumButton" %>
<div id="ipsumContainer"></div>
<div id="footer">
<ul id="footer-ul">
  <li>Handmade by <a href="www.janetyi.com">Janet Yi</a> .</li>
  <li>Check it out on <a href="#">Github</a> :)</li>
</ul>
</div>
</body>
